<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/ecommerce-layout}">

<head>
    <title>Brands</title>
</head>

<body>

    <div layout:fragment="content">

        <table class="mt-5 table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="brand: ${brands}">
                    <td th:text="${brand.name}"></td>
                    <td><a id="btnBuy" class="btn btn-primary" href="javascript:void(0)">Follow</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>