<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:if="${user != null}">
    <ul class="nav">
        <li class="nav-item">
            <a th:text="${user.username}" class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
            <form th:action="@{/auth/logout}" method="post">
                <input class="nav-link active" type="submit" value="Log out"/>
            </form>
        </li>
    </ul>
</div>

</html>